body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

h1,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

.header-bg {
  background: #939;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu li {
  display: inline-block;
  padding: 10px 10px;
  color: #fff;
  background: #7e2d7e;
  border-radius: 5px;
}

.introducao-bg {
  background: #e0bcdd;
  color: #000;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.introducao-conteudo {
  align-self: center;
}

.introducao h1 {
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 60px;
}

.introducao p {
  font-size: 30px;
  line-height: 35px;
}

.introducao img {
  padding: 20px 0px;
  padding-left: 100px;
  width: 400px;
}

.importancia-bg {
  background: #e0bcdd;
  color: #000;
}

.importancia {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
}

.importancia p {
  align-self: center;
  text-align: center;
  font-size: 28px;
  line-height: 35px;
}

.importancia img {
  padding: 20px 0px;
  width: 400px;
  padding-left: 100px;
}
