body {
  margin: 0px;
  font-family: 'Vollkorn', Georgia, serif
  /* background: url('../../img/Ultra-Voilet.jpg'); */
}

h1,
h2,
h3,
ul,
p {
  margin: 0px;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 10px;
}
