.header {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  padding-top: 10px;
}

.header-menu {
  display: flex;
  gap: 80px;
}

.header-menu a {
  color: #000;
  display: inline-block;
  padding: 16px 10px;
  font-size: 18px;
}

.header-menu a:after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: #000;
  margin-top: 4px;
  transition: 0.3s;
}

.header-menu a:hover:after {
  width: 100%;
}

.header img {
  width: 280px;
}

@media (max-width: 1200px) {
  .header-menu {
    display: flex;
  }
  .header img {
    width: 200px;
    padding-bottom: 10px;
  }
}