.header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 10px;
}

nav {
  grid-column: 1;
  grid-row: 1;
}
.header ul {
  display: inline-block;
  position: relative;
}

.header li {
  padding: 10px;  
}

.header a,
img {
  grid-column: 2;
  width: 250px;
  justify-self: center;
}

.header-menu li {
  padding: 10px;
  color: #000;
  font-size: 1.125em;
}

.header-menu li:after {
  content: '';
  display: block;
  height: 2px;
  width: 0px;
  background: #000;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu li:hover:after {
  width: 100%;
}
