.definicao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 40px;
}

.definicao h1 {
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 40px;
  text-align: center;
}

.definicao p {
  font-size: 18px;
  line-height: 25px;
  text-align: left;
  border-bottom: 2px solid #000;
  padding-bottom: 15px;
}

.carinho-gato {
  grid-column: 1;
  grid-row: 2/3;
  width: 100%;
  align-self: center;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.imagem-dog,
.cao-racao {
  grid-column: 2;
  width: 500px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.pet-walker p,
.pet-sitter p {
  text-align: right;
}

/* Media queries para layout responsivo */
@media (max-width: 1024px) {
  .definicao {
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .definicao h1 {
    margin: 0px;
    padding: 10px 0px 15px 0px;
  }
  .definicao p {
    text-align: center;
    border: none;
  }
}
