.dados-form {
  display: flex;
  justify-content: center;
}

.form-titulo {
  font-size: 25px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.dados-form label,
.dados-form input {
  font: 400 1rem/1.5 'Poppins', sans-serif;
  margin-bottom: 25px;
}

.dados-form input[type='text'],
.dados-form input[type='email'],
.dados-form textarea {
  font: 400 1rem/1.5 'Roboto', sans-serif;
  background: #f7f7f7;
  border: 1px solid #8844ee;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}

.dados-form textarea {
  height: 150px;
}

.dados-form input[type='text']:focus,
.dados-form input[type='email']:focus,
.dados-form textarea:focus {
  outline: none;
  border-color: #8844ee;
  background: #fff;
  box-shadow: 0 0 0 2px #b07dfb;
}

.botao {
  max-width: max-content;
  cursor: pointer;
  margin-top: 15px;
  box-sizing: border-box;
  background: #eaafc8;
  color: #000;
}

.botao:hover {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

@media (max-width: 1024px) {
  .dados-form label,
  .dados-form input,
  .dados-form textarea {
    box-sizing: border-box;
  }
}
