.icones {
  padding-top: 20px;
  padding-bottom: 40px;
}

.icones-titulo {
  text-align: center;
  font-size: 40px;
  padding-bottom: 25px;
  text-transform: uppercase;
}

.icones h3 {
  padding-top: 30px;
  text-align: center;
}

.icones img {
  width: 150px;
}

.conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

.icones li a {
  display: block;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  transition: 0.1s ease-out;
}

.icones li a:hover {
  background: #eaafc8;
}

@media (max-width: 1024px) {
  .conteudo {
    gap: 20px;
  }
  .icones {
    padding: 15px;
  }
  .icones a {
    width: 50px;
    margin: 10px;
  }
  .icones h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    padding-top: 10px;
  }
}
