.importancia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 10px;
  gap: 40px;
}

.importancia-cat {
  grid-column: 1;
}

.importancia-dog {
  grid-column: 3;
}

.texto-1 {
  font-size: 18px;
  line-height: 23px;
  text-align: right;
  border-bottom: 2px solid #8844ee;
  padding-bottom: 15px;
}

.texto-2 {
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #8844ee;
}

.importancia img {
  width: 100%;
  align-self: center;
}

.importancia button {
  grid-column: 2;
}