.importancia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 10px;
  gap: 40px;
  align-self: center;
  text-align: center;
}

.importancia-cat {
  grid-column: 1;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);

}

.importancia-dog {
  grid-column: 3;
  grid-row: 1 / 2;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);

}

.texto-1 {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  border-bottom: 2px solid #8844ee;
  padding-bottom: 15px;
}

.texto-2 {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #8844ee;
}

.importancia img {
  width: 100%;
  align-self: center;
}

.importancia button {
  margin-top: 70px;
  cursor: pointer;
  background: #654ea3;
}

.importancia button:hover {
  background: rgba(0, 0, 0, 0.5);
}