.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 30px;
}

.intro-dog {
  width: auto;
  grid-row: 1 / 4;
}

.intro-texto {
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  padding-top: 50px;
  border-top: 2px solid #8844ee;
}

.frase-importancia {
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  border-radius: 5px;
  padding: 18px;
  grid-column: 2;
  grid-row: 3;
}

.frase-importancia p {
  color: white;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  font-style: italic;
}
