.sobre-mim {
  display: grid;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
  margin-bottom: 60px;
}

.sobre-mim h2 {
  font-size: 40px;
  border-bottom: 2px solid #000;
}

.sobre-mim p {
  font-size: 18px;
  line-height: 23px;
  grid-column: 1;
  padding-top: 20px;
}

.sobre-mim img {
  width: 300px;
  grid-row: 1 / 5;
  grid-column: 2;
  border-radius: 50%;
  align-items: center;
  box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

@media (max-width: 1024px) {
  .sobre-mim {
    display: block;
    padding-top: 0px;
    padding-bottom: 10px;
    border: none;
  }
  .sobre-mim h2 {
    margin-bottom: 20px;
  }
  .sobre-mim p {
    text-align: justify;
    text-indent: 30px;
    padding-top: 5px;
  }
  .sobre-mim img {
    display: none;
  }
}
