.topo {
  background: url("../../img/dogs-brincando-cortada.jpg") no-repeat center center/cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.section {
  padding: 20px;
  text-align: center;
}