.importancia {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  box-sizing: border-box;
  max-width: 1200px;
  padding: 30px;
  gap: 40px;
}

.texto-1 {
  font-size: 20px;
  line-height: 25px;
  text-align: right;
}

.texto-2 {
  padding-top: 30px;
  font-size: 20px;
  line-height: 25px;
  text-align: left;
}